.home-wrapper {
    display: flex;
    background-color: #c8cde9;
}


.product-wrapper {
    margin-left: 230px;
    margin-top: 70px;
    width: 80%;
    float: right;
    text-align: center;
    margin-bottom: 20px;
    min-height: 100vh;
}

.product-item{
    padding: 20px;
    background-color: #10163A;
    color: #c8cde9;
    border-radius: 8px;
}


