.profile-wrapper{
  height: 300vh;
  background-color: #c8cde9;
}

.product-wrapper{
  width: 100%;
  height: auto;
  text-align: center;
}

 .input-box{
  margin-top: 60px;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-input{
  width: 400px;
  border: 2px solid #10163A;
  padding-left: 20px;
  color: #10163A;
  outline: none;
} 

#search-input::placeholder{
  color: #10163A;
}

.product-item {
  /* padding: 20px; */
  background-color: #10163A;
  border-radius: 8px;
  width: 280px;
  display: inline-block;
  margin-left: 30px;
  margin-top: 30px;
  }
  
  .product-image {
    width: 200px;
    height: 200px;
    /* overflow: hidden; */
    background-size: cover;
  }
  
  .product-image img {
    width: 200px;
    height: 200px;
    margin-left: 20px;
  }
  
  /* .product-details {
    padding: 20px;
  }
  
  .product-details h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .product-details p {
    font-size: 1rem;
    margin-bottom: 5px;
  } */

  .del-upd-buttons{
    margin-top: 20px;
    display: flex;
    gap: 5px;
    /* flex-direction: column; */
  }
  